body{background-image: url(ronaldo.png);
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
p1{ color: hsla(0, 0%, 100%, 0.914);
    font-size:  22px;
    font-style: italic;
}
h1{
    font-size: 46px;
    font-style:italic;
    text-shadow: 3px 3px 6px white;
}
nav{
    font-style: italic;
    border-style: solid;
    border-width: 6px;
    border-color: aquamarine;
    border-radius: 7px;
}
.form{
    color:white;
}
